<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>LandingPage03</title>
  </head>
  <body>
    <header>
      <section class="inicio">
        <div class="right-side">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in
            libero risus semper habitant arcu eget.
          </p>
          <div class="btn">
            <button>Get Started</button>
          </div>
        </div>
        <div class="left-side">
          <div class="text-main"></div>
          <h1>Just That simple</h1>
        </div>
      </section>
    </header>

    <section class="img">
      <div class="img-container">
        <div class="card"></div>
      </div>
    </section>
  </body>
</html>
